@import '../../const.scss';

.stick {
    position: absolute;

    width: 90%;
    height: 10%;
    border-radius: 10px;
    left: 5%;
    
    background-color: black;

    &_activate {
        background-color: aqua;
        box-shadow: 0px 0px 5px 1px rgba(0, 255, 255, 0.753),
        0px 0px 15px 0px rgba(0, 255, 255, 0.5) !important;
    }

    &__1{
        top: 0;
        box-shadow: inset -3px -2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__2{
        top: 5%;
        transform: rotate(-90deg);
        transform-origin: right;
        box-shadow: inset 3px -2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__3{
        top: 5%;
        transform: rotate(90deg);
        transform-origin: left;
        box-shadow: inset -3px 2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__4{
        top: 44%;
        box-shadow: inset -3px -2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__5{
        top: 49%;
        transform: rotate(90deg);
        transform-origin: left;
        box-shadow: inset -3px 2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__6{
        top: 49%;
        transform: rotate(-90deg);
        transform-origin: right;
        box-shadow: inset 3px -2px 10px -8px rgba(0, 255, 255, 0.753);
    }
    &__7{
        bottom: 2%;
        box-shadow: inset -3px -2px 10px -8px rgba(0, 255, 255, 0.753);
    }
}


@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}