@import '../../const.scss';

.lcdNumerical {

    position: relative;
    width: 100%;
    height: 100%;

    &__wrap {
        width: 100%;
        height: 100%;
        padding: 20px;

        background-color: black;
    }
}


@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}